<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST</title>
  </head>
  <body>
    <form action="/led" method="POST">
      <button type="submit" id="red" name="color" value="red">Red</button>
      <button type="submit" id="green" name="color" value="green">Green</button>
      <button type="submit" id="blue" name="color" value="blue">Blue</button>
      <button type="submit" id="blank" name="color" value="blank">Blank</button>
    </form>
  </body>
</html>
